{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>name</td>
            <td>lastname</td>
            <td>birthdate</td>
            <td>estado</td>
            <td>vehiculo</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if conductores %}
        {% for conductor in conductores %}
        <tr>
            <td>{{conductor.id}}</td>
            <td>{{conductor.name}}</td>
            <td>{{conductor.lastname}}</td>
            <td>{{conductor.birthdate}}</td>
            <td>{{conductor.estadoC.descripcion}}</td>
            <td>{{conductor.vehiculo.placa}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'Liquidacion_Conductor:conductor_edit' conductor.id %}">
                Editar</a>
                <a class="btn btn-danger" href="{% url 'Liquidacion_Conductor:conductor_eliminar' conductor.id %}">
                Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registro de conductores</h1>
        {% endif %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'Liquidacion_Conductor:conductor_crear' %}">
    Nuevo</a>


{% endblock %}