{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>name</td>
            <td>lastname</td>
            <td>birthdate</td>
            <td>estado</td>
            <td>vehiculo</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for conductor in object_list %}
        <tr>
            <td>{{conductor.id}}</td>
            <td>{{conductor.name}}</td>
            <td>{{conductor.lastname}}</td>
            <td>{{conductor.birthdate}}</td>
            <td>{{conductor.estadoC}}</td>
            <td>
                <a class="btn btn-primary" onclick="return abrir_modal('{% url 'conductor_editar' conductor.id %}')" role="button">Editar</a>
                <a class="btn btn-danger" href="{% url 'conductor_eliminar' conductor.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registro de conductores</h1>
        {% endif %}
    </tbody>
</table>

<a class="btn btn-primary" onclick="return abrir_modal('{% url 'conductor_crear' %}')" role="button">Nuevo</a>
{% endblock %}
