{% extends 'base/base.html' %}

{% block content %}
<div class="flex-equal text-end  ms-1">
    <a href="{% url 'login' %}" class="btn btn-success">Iniciar Sesión</a>
</div>
<main class="container py-5">
	<section class="card card-body">
		<h1>CARFRAKMA</h1>
<p>CarFrakma es una empresa de transporte líder en el mercado, especializada en servicios de movilidad que se adaptan a las necesidades de nuestros clientes. Con una flota de 4 autos modernos y conductores altamente capacitados, nos enorgullece ofrecer soluciones de transporte confiables y eficientes.

    En CarFrakma, combinamos la comodidad y la tecnología para brindar una experiencia de viaje excepcional. Como parte de nuestra visión innovadora, hemos establecido colaboraciones con plataformas reconocidas como Uber e Indriver. A través de estas aplicaciones, nuestros clientes pueden acceder fácilmente a nuestros servicios y disfrutar de un transporte seguro y de calidad.
    
    Nuestro equipo de conductores profesionales en CarFrakma es seleccionado cuidadosamente y se adhiere a los más altos estándares de excelencia. Su amabilidad, puntualidad y conocimiento de las rutas garantizan un viaje sin problemas y satisfactorio para nuestros pasajeros.
    
    Ofrecemos una amplia gama de servicios de transporte para adaptarnos a las necesidades individuales de cada cliente. Ya sea un viaje corto dentro de la ciudad, un traslado al aeropuerto o incluso un viaje de larga distancia, en CarFrakma estamos listos para brindarte una solución de movilidad confiable.
    
    En cada uno de nuestros vehículos, hemos creado un ambiente limpio y cómodo para que nuestros pasajeros se sientan relajados durante todo el trayecto. Además, nos esforzamos por mantener altos niveles de seguridad y cumplir con todas las regulaciones para garantizar la tranquilidad de nuestros clientes.
    
    En CarFrakma, nuestra misión es brindar una experiencia de transporte excepcional y superar las expectativas de nuestros clientes. Valoramos la confianza que depositan en nosotros y nos comprometemos a mantener altos estándares de calidad en cada viaje que realizamos.
    
    Si estás buscando un servicio de transporte confiable, conveniente y de calidad, no busques más. Contacta con CarFrakma y descubre por qué somos la elección preferida de tantos viajeros exigentes</p>

	</section>
</main>

{% endblock %}