{% extends 'base/base.html' %}

{% block content %}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Estado Liquidación</th>
            <th>Conductor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for liquidacion in object_list %}
        <tr>
            <td>{{ liquidacion.id }}</td>
            <td>{{ liquidacion.description }}</td>
            <td>{{ liquidacion.date }}</td>
            <td>{{ liquidacion.amount }}</td>
            <td>{{ liquidacion.estadoL }}</td>
            <td>{{ liquidacion.conductor.name}}</td>
            <td>
                <a class="btn btn-primary" onclick="return abrir_modal('{% url 'Liquidacion_editar' liquidacion.id %}')" role="button"> <i class="fas fa-edit"></i> Editar</a>
                <a class="btn btn-danger" href="{% url 'Liquidacion_eliminar' liquidacion.id %}"> <i class="fas fa-trash"></i> Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">No hay registro de liquidaciones</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primero</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previo</a>
        {% endif %}
        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
        {% endif %}
    </span>
</div>

<a class="btn btn-primary" onclick="return abrir_modal('{% url 'Liquidacion_crear' %}')" role="button"> <i class="fas fa-plus"></i> Nuevo</a>

{% endblock %}
